[default]
role = "kernel"
expand =  true
strict =  true
replicate = true

# Utility calls and IO statements to remove
[transformations.RemoveCodeTransformation]
  module = "loki.transformations"
[transformations.RemoveCodeTransformation.options]
  remove_dead_code = true
  kernel_only = true

# Loop transformations
[transformations.LoopUnrollTransformation]
  module = "loki.transformations"
  classname = "TransformLoopsTransformation"
[transformations.LoopUnrollTransformation.options]
  loop_unroll = true

[transformations.LoopFuseTransformation]
  module = "loki.transformations"
  classname = "TransformLoopsTransformation"
[transformations.LoopFuseTransformation.options]
  loop_fusion = true

# SubstituteExpressionTransformation
[transformations.SubstituteExpressionTransformation]
  module = "loki.transformations"
[transformations.SubstituteExpressionTransformation.options]
  substitute_expressions = true
  substitute_body = true
[transformations.SubstituteExpressionTransformation.options.expression_map]
  "llwlonn(k,m,ic)" = ".true."
  "llwlatn(k,m,ic,icl)" = ".true."
  "llwcorn(k,m,icr,icl)" = ".true."
  "llwkpmn(k,m,ic)" = ".true."
  "llwmpmn(k,m,ic)" = ".true."

# Idem transformation
[transformations.IdemTransformation]
  module = "loki.transformations"

# loki pipelines
[pipelines.loop-unroll-fuse]
  transformations = [
  'SubstituteExpressionTransformation', 'RemoveCodeTransformation', 'LoopUnrollTransformation',
  'LoopFuseTransformation', 'IdemTransformation'
]

# Define entry point for call-tree transformation
[routines.propags2]
  role = "kernel"
  expand = false
  replicate = false
 