[default]
mode = "idem"
role = "kernel"
expand =  true
strict =  true
replicate = true

# Ensure that we are never adding these to the tree, and thus
# do not attempt to look up the source files for these.
disable = [
  'yomhook', 'abor1', 'abort1', 'gstats', 'yowgstats', 'wam_user_clock',
  'parkind1', 'propag_wam', 'newwind', 'oml_mod', 'field_module', 'incdate',
  'ieee_arithmetic',  # intrinsic modules (should have INTRINSIC in their USE statement)
  'mfeb_length', 'cdm', # internal functions
  'outwspec_io_serv_handler', 'outint_io_serv_handler', 'ifstowam_handler', # procedure pointers
  '*%init', '*%update_view', '*%final', '*%ensure_host', '*%update_device'
]

# Prune the tree for these to ensure they are not processed by transformations
block = ['ec_parkind', 'parkind_wave']

utility_routines = ['dr_hook', 'abort1', 'write(iu06']

# Define entry point for call-tree transformation
[routines.wamintgr]
  role = "driver"
  expand = true
  replicate = false
  real_kind = 'JWRB'
 
# add inline function calls here to force the plan to add them
[routines.chnkmin]
[routines.ns_gc]
[routines.stress_gc]
[routines.transf_snl]
[routines.transf]
[routines.aki_ice]

# Define indices and bounds for array dimensions
[dimensions.horizontal]
  size = "KIJL"
  index = "IJ"
  bounds = ["KIJS", "KIJL"]
  aliases = ["NPROMA_WAM"]

[dimensions.vertical]
  size = "NFRE"
  index = "M"

[dimensions.block_dim]
  size = "NCHNK"
  index = "ICHNK"
