[default]
mode = "idem"
role = "kernel"
expand =  true
strict =  true
disable = ["DR_HOOK", "lhook", "jphook", "omp_get_wtime", "flush", "jwim", "jwrb", "jwru", "jwro", "environment", "frequency", "forcing_fields", "intgt_param_fields", "wave2ocean", "abort1", "iu06"]
utility_routines = ['dr_hook', 'abort1', 'write(iu06']
enable_imports = true

[[routine]]
name = "wamintgr_loki_gpu"
role = "driver"
expand = true
disable = ["PROPAG_WAM", "NEWWIND", "GSTATS", "FREQUENCY_FIELD%INIT", "ENVIRONMENT_FIELD%INIT", "FORCING_FIELDS_FIELD%INIT", "WAVE2OCEAN_FIELD%INIT", "INTGT_PARAM_FIELDS_FIELD%INIT", "FREQUENCY_FIELD%UPDATE_DEVICE", "ENVIRONMENT_FIELD%UPDATE_DEVICE", "FORCING_FIELDS_FIELD%UPDATE_DEVICE", "WAVE2OCEAN_FIELD%UPDATE_DEVICE", "INTGT_PARAM_FIELDS_FIELD%UPDATE_DEVICE", "SOURCE_CONTRIBS_FIELD%INIT", "SOURCE_CONTRIBS_FIELD%UPDATE_DEVICE", "INCDATE", "DR_HOOK", "omp_get_wtime", "abort1", "wam_user_clock", "FREQUENCY_FIELD%ENSURE_HOST", "ENVIRONMENT_FIELD%ENSURE_HOST", "FORCING_FIELDS_FIELD%ENSURE_HOST", "WAVE2OCEAN_FIELD%ENSURE_HOST", "INTGT_PARAM_FIELDS_FIELD%ENSURE_HOST", "SOURCE_CONTRIBS_FIELD%INIT", "SOURCE_CONTRIBS_FIELD%ENSURE_HOST"]
enable_imports = false
real_kind = 'JWRB'

[[dimension]]
name = "horizontal"
size = "KIJL"
index = "IJ"
bounds = ["KIJS", "KIJL"]
aliases = ["NPROMA_WAM"]

[[dimension]]
name = "vertical"
size = "NFRE"
index = "M"

[[dimension]]
name = "block_dim"
size = "NCHNK"
index = "ICHNK"
