[default]
mode = "idem"
role = "kernel"
expand =  true
strict =  true
replicate = true
enable_imports = true

# Ensure that we are never adding these to the tree, and thus
# do not attempt to look up the source files for these.
disable = [
  'yomhook', 'abor1', 'abort1', 'gstats', 'yowgstats', 'wam_user_clock',
  'parkind1', 'propag_wam', 'newwind', 'oml_mod', 'field_module', 'incdate',
  'ieee_arithmetic',  'ieee_exceptions', # intrinsic modules (should have INTRINSIC in their USE statement)
  'ieee_set_halting_mode', 'ieee_get_halting_mode', # intrinsic subroutines 
  'mfeb_length', 'cdm', # internal functions
  'outwspec_io_serv_handler', 'outint_io_serv_handler', 'ifstowam_handler', # procedure pointers
  '*%sync_host*', '*%sync_device*',
  'df', 'f' # statement functions
]

# modules to be parsed but not transformed
ignore = ['yowgrid', 'yowtest']

# Prune the tree for these to ensure they are not processed by transformations
block = ['ec_parkind', 'parkind_wave', 'yowdrvtype']

# Utility calls and IO statements to remove
[transformations.RemoveCodeTransformation]
  module = "loki.transformations"
[transformations.RemoveCodeTransformation.options]
  remove_marked_regions = true
  remove_dead_code = false
  call_names =['dr_hook', 'abort1']
  intrinsic_names = ['write(iu06']
  kernel_only = true

# Define entry point for call-tree transformation
[routines.wamintgr_loki_gpu]
  role = "driver"
  expand = true
  replicate = false
  real_kind = 'JWRB'

[routines.cireduce_loki_gpu]
  role = "driver"
  expand = true
  replicate = false
  real_kind = 'JWRB'

[routines.outbs_loki_gpu]
  role = "driver"
  expand = true
  replicate = false
  real_kind = 'JWRB'
  block = ['outwnorm', 'yowdrvtype', 'parkind_wave']

# add inline function calls here to force the plan to add them
[routines.chnkmin]
[routines.ns_gc]
[routines.stress_gc]
[routines.transf_snl]
[routines.transf]
[routines.aki_ice]
[routines.aki]
[routines.w_mode_st]
[routines.transf_r]
[routines.transf_bfi]

# we add loki inlined routines here rather than the ignore list because we want them to be sanitised
# before inlining
[routines.sebtmean]
[routines.scosfl]

# Disable replication for modules containing global variables
[routines.yowaltas]
  expand = false
  replicate = false
[routines.yowcoup]
  expand = false
  replicate = false
[routines.yowcout]
  expand = false
  replicate = false
[routines.yowfred]
  expand = false
  replicate = false
[routines.yowice]
  expand = false
  replicate = false
[routines.yowindn]
  expand = false
  replicate = false
[routines.yowparam]
  expand = false
  replicate = false
[routines.yowpcons]
  expand = false
  replicate = false
[routines.yowphys]
  expand = false
  replicate = false
[routines.yowstat]
  expand = false
  replicate = false
[routines.yowtabl]
  expand = false
  replicate = false
[routines.yowwind]
  expand = false
  replicate = false
[routines.yowwndg]
  expand = false
  replicate = false
[routines.yowshal]
  expand = false
  replicate = false
[routines.yowcurr]
  expand = false
  replicate = false
[routines.yowmap]
  expand = false
  replicate = false

# Define indices and bounds for array dimensions
[dimensions.horizontal]
  size = "KIJL"
  index = "IJ"
  bounds = ["KIJS", "KIJL"]
  aliases = ["NPROMA_WAM"]

[dimensions.block_dim]
  size = "NCHNK"
  index = "ICHNK"
