[default]
mode = "idem"
role = "kernel"
expand =  true
strict =  true
replicate = true

# Ensure that we are never adding these to the tree, and thus
# do not attempt to look up the source files for these.
disable = [
  'yomhook', 'abor1', 'abort1', 'gstats', 'yowgstats', 'wam_user_clock',
  'parkind1', 'propag_wam', 'newwind', 'oml_mod', 'field_module', 'incdate', 'yowfield_mod',
  'ieee_arithmetic', 'ieee_get_halting_mode', 'ieee_set_halting_mode',  # intrinsic modules
  'mfeb_length', 'cdm', # internal functions
  'outwspec_io_serv_handler', 'outint_io_serv_handler', 'ifstowam_handler', # procedure pointers
  '*%sync_host*', '*%sync_device*', 'wait_for_async_queue', 'field_async_module', '*%get_device_data*', '*%get_host_data*',
  'df', 'f' # statement functions
]

# modules to be parsed but not transformed
ignore = ['yowgrid', 'yowtest', 'yowshal', 'yowdrvtype']

# Prune the tree for these to ensure they are not processed by transformations
block = ['ec_parkind', 'parkind_wave',
# don't add removed subroutines to the scheduler
'sinput_jan', 'sdissip_jan', 'ciwabr', 'cimsstrn', 'z0wave', 'meansqs'
]

# Utility calls and IO statements to remove
[transformations.RemoveCodeTransformation]
  module = "loki.transformations"
[transformations.RemoveCodeTransformation.options]
  remove_marked_regions = true
  remove_dead_code = false
  call_names =['dr_hook', 'abort1']
  intrinsic_names = ['write(iu06']
  kernel_only = true

# Inline transformation
[transformations.InlineTransformation]
  module = "loki.transformations"
[transformations.InlineTransformation.options]
  allowed_aliases = "IJ"
  inline_elementals = false

# Loop transformations
[transformations.TransformLoopsTransformation]
  module = "loki.transformations"
[transformations.TransformLoopsTransformation.options]
  loop_interchange = true

# Split-read-write transformation
[transformations.SplitReadWriteTransformation]
  module = "loki.transformations"
[transformations.SplitReadWriteTransformation.options]
  dimensions = "%dimensions.horizontal%"

# TemporariesPoolAllocatorTransformation
[transformations.TemporariesPoolAllocatorTransformation]
  module = "loki.transformations"
[transformations.TemporariesPoolAllocatorTransformation.options]
  horizontal = "%dimensions.horizontal%"
  directive = "openmp"
  block_dim = "%dimensions.block_dim%"
  check_bounds = true

# ModuleWrap transformation
[transformations.ModuleWrapTransformation]
  module = "loki.transformations"
[transformations.ModuleWrapTransformation.options]
  module_suffix = "_MOD"
  replace_ignore_items = false

# Dependency transformation
[transformations.DependencyTransformation]
  module = "loki.transformations"
[transformations.DependencyTransformation.options]
  module_suffix = "_MOD"
  suffix = "_LOKI"
  replace_ignore_items = false

# Idem transformation
[transformations.IdemTransformation]
  module = "loki.transformations"

# loki pipelines
[pipelines.idem]
  transformations = [
  'RemoveCodeTransformation', 'TransformLoopsTransformation', 'SplitReadWriteTransformation',
  'InlineTransformation', 'IdemTransformation', 'ModuleWrapTransformation', 'DependencyTransformation'
]

[pipelines.idem-stack]
  transformations = [
  'RemoveCodeTransformation', 'TransformLoopsTransformation', 'SplitReadWriteTransformation', 'InlineTransformation',
  'IdemTransformation', 'TemporariesPoolAllocatorTransformation', 'ModuleWrapTransformation', 'DependencyTransformation'
]

# Define entry point for call-tree transformation
[routines.wamintgr]
  role = "driver"
  expand = true
  replicate = false
  real_kind = 'JWRB'
 
# subroutines with custom block lists
[routines.outblock]
  role = "kernel"
  block = ['mwp1', 'mwp2', 'parkind_wave', 'yowdrvtype' ,'local_mod',
    'cimsstrn', 'wdirspread', 'sebtmean', 'se10mean', 'ctcor', 'w_maxh',
    'weflux', 'meansqs', 'ibrmemout'
  ]

# add inline function calls here to force the plan to add them
[routines.chnkmin]
[routines.ns_gc]
[routines.stress_gc]
[routines.transf_snl]
[routines.transf]
[routines.aki_ice]
[routines.aki]
[routines.transf_r]
[routines.transf_bfi]
[routines.peakfri]

# we add loki inlined routines here to force them to be created
[routines.femeanws]
[routines.scosfl]
[routines.frcutindex]
[routines.omegagc]
[routines.tau_phi_hf]
[routines.stresso]
[routines.wsigstar]
[routines.sinput]
[routines.sinput_ard]
[routines.taut_z0]
[routines.airsea]
[routines.femean]
[routines.meansqs_lf]
[routines.halphap]
[routines.wnfluxes]
[routines.sdiwbk]
[routines.sbottom]
[routines.fkmean]
[routines.imphftail]
[routines.setice]
[routines.stokestrn]
[routines.stokesdrift]
[routines.semean]
[routines.sdepthlim]
[routines.sinflx]
[routines.sdissip_ard]
[routines.sdissip]
[routines.peak_ang]
[routines.sdice]
[routines.sdice1]
[routines.sdice2]
[routines.sdice3]
[routines.icebreak_modify_attenuation]

# Define indices and bounds for array dimensions
[dimensions.horizontal]
  size = "KIJL"
  index = "IJ"
  bounds = ["KIJS", "KIJL"]
  aliases = ["NPROMA_WAM"]

[dimensions.block_dim]
  size = "NCHNK"
  index = "ICHNK"
