[default]
mode = "idem"
role = "kernel"
expand =  true
strict =  true
replicate = true
enable_imports = true

# Ensure that we are never adding these to the tree, and thus
# do not attempt to look up the source files for these.
disable = [
  'yomhook', 'abor1', 'abort1', 'gstats', 'yowgstats', 'wam_user_clock',
  'parkind1', 'propag_wam', 'newwind', 'oml_mod', 'field_module', 'incdate',
  'ieee_arithmetic',  'ieee_exceptions', # intrinsic modules (should have INTRINSIC in their USE statement)
  'ieee_set_halting_mode', 'ieee_get_halting_mode', # intrinsic subroutines 
  'mfeb_length', 'cdm', # internal functions
  'outwspec_io_serv_handler', 'outint_io_serv_handler', 'ifstowam_handler', # procedure pointers
  '*%sync_host*', '*%sync_device*', 'wait_for_async_queue', 'field_async_module', '*%get_device_data*', '*%get_host_data*',
  'df', 'f' # statement functions
]

# modules to be parsed but not transformed
ignore = ['yowgrid', 'yowtest']

# Prune the tree for these to ensure they are not processed by transformations
block = ['ec_parkind', 'parkind_wave', 'yowdrvtype',
# don't add removed subroutines to the scheduler
'sinput_jan', 'sdissip_jan', 'ciwabr', 'cimsstrn', 'z0wave', 'meansqs'
]

# Utility calls and IO statements to remove
[transformations.RemoveCodeTransformation]
  module = "loki.transformations"
[transformations.RemoveCodeTransformation.options]
  remove_marked_regions = true
  remove_dead_code = false
  call_names =['dr_hook', 'abort1']
  intrinsic_names = ['write(iu06']
  kernel_only = true

# Inline transformation
[transformations.InlineTransformation]
  module = "loki.transformations"
[transformations.InlineTransformation.options]
  allowed_aliases = "IJ"
  inline_elementals = false

# Split-read-write transformation
[transformations.SplitReadWriteTransformation]
  module = "loki.transformations"
[transformations.SplitReadWriteTransformation.options]
  dimensions = "%dimensions.horizontal%"

# GlobalVariableAnalysis
[transformations.GlobalVariableAnalysis]
  module = "loki.transformations"
[transformations.GlobalVariableAnalysis.options]

# Loop transformations
[transformations.TransformLoopsTransformation]
  module = "loki.transformations"
[transformations.TransformLoopsTransformation.options]
  loop_interchange = true

# GlobalVarOffloadTransformation
[transformations.GlobalVarOffloadTransformation]
  module = "loki.transformations"
[transformations.GlobalVarOffloadTransformation.options]

# SCC transformations
[transformations.SCCVectorOpenACC]
  module = "loki.transformations.single_column"
  classname = "SCCVectorPipeline"
[transformations.SCCVectorOpenACC.options]
  horizontal = "%dimensions.horizontal%"
  directive = "openacc"
  trim_vector_sections = true
  block_dim = "%dimensions.block_dim%"

[transformations.SCCSStackOpenACC]
  module = "loki.transformations.single_column"
  classname = "SCCSStackPipeline"
[transformations.SCCSStackOpenACC.options]
  horizontal = "%dimensions.horizontal%"
  directive = "openacc"
  trim_vector_sections = true
  block_dim = "%dimensions.block_dim%"
  check_bounds = false

[transformations.SCCStackOpenACC]
  module = "loki.transformations.single_column"
  classname = "SCCStackPipeline"
[transformations.SCCStackOpenACC.options]
  horizontal = "%dimensions.horizontal%"
  directive = "openacc"
  trim_vector_sections = true
  block_dim = "%dimensions.block_dim%"
  check_bounds = false

[transformations.SCCSHoistOpenACC]
  module = "loki.transformations.single_column"
  classname = "SCCSHoistPipeline"
[transformations.SCCSHoistOpenACC.options]
  horizontal = "%dimensions.horizontal%"
  directive = "openacc"
  trim_vector_sections = true
  as_kwarguments = true
  block_dim = "%dimensions.block_dim%"

[transformations.SCCHoistOpenACC]
  module = "loki.transformations.single_column"
  classname = "SCCHoistPipeline"
[transformations.SCCHoistOpenACC.options]
  horizontal = "%dimensions.horizontal%"
  directive = "openacc"
  trim_vector_sections = true
  as_kwarguments = true
  block_dim = "%dimensions.block_dim%"

# ModuleWrap transformation
[transformations.ModuleWrapTransformation]
  module = "loki.transformations"
[transformations.ModuleWrapTransformation.options]
  module_suffix = "_MOD"
  replace_ignore_items = false

# Dependency transformation
[transformations.DependencyTransformation]
  module = "loki.transformations"
[transformations.DependencyTransformation.options]
  module_suffix = "_MOD"
  suffix = "_LOKI"
  replace_ignore_items = false

# FileWrite transformation
[transformations.FileWriteTransformation]
  module = "loki.transformations"
[transformations.FileWriteTransformation.options]
  include_module_var_imports = true

# loki pipelines
[pipelines.scc]
  transformations = [
  'RemoveCodeTransformation', 'TransformLoopsTransformation', 'SplitReadWriteTransformation', 'InlineTransformation',
  'GlobalVariableAnalysis', 'GlobalVarOffloadTransformation', 'SCCVectorOpenACC', 'ModuleWrapTransformation',
  'DependencyTransformation'
]

[pipelines.scc-stack]
  transformations = [
  'RemoveCodeTransformation', 'TransformLoopsTransformation', 'SplitReadWriteTransformation', 'InlineTransformation',
  'GlobalVariableAnalysis', 'GlobalVarOffloadTransformation', 'SCCStackOpenACC', 'ModuleWrapTransformation',
  'DependencyTransformation'
]

[pipelines.sccs-stack]
  transformations = [
  'RemoveCodeTransformation', 'TransformLoopsTransformation', 'SplitReadWriteTransformation', 'InlineTransformation',
  'GlobalVariableAnalysis', 'GlobalVarOffloadTransformation', 'SCCSStackOpenACC', 'ModuleWrapTransformation',
  'DependencyTransformation'
]

[pipelines.scc-hoist]
  transformations = [
  'RemoveCodeTransformation', 'TransformLoopsTransformation', 'SplitReadWriteTransformation', 'InlineTransformation',
  'GlobalVariableAnalysis', 'GlobalVarOffloadTransformation', 'SCCHoistOpenACC', 'ModuleWrapTransformation',
  'DependencyTransformation'
]

[pipelines.sccs-hoist]
  transformations = [
  'RemoveCodeTransformation', 'TransformLoopsTransformation', 'SplitReadWriteTransformation', 'InlineTransformation',
  'GlobalVariableAnalysis', 'GlobalVarOffloadTransformation', 'SCCSHoistOpenACC', 'ModuleWrapTransformation',
  'DependencyTransformation'
]

# Define entry point for call-tree transformation
[routines.wamintgr_loki_gpu]
  role = "driver"
  expand = true
  replicate = false
  real_kind = 'JWRB'

[routines.cireduce_loki_gpu]
  role = "driver"
  expand = true
  replicate = false
  real_kind = 'JWRB'

[routines.outbs_loki_gpu]
  role = "driver"
  expand = true
  replicate = false
  real_kind = 'JWRB'
  block = ['outwnorm', 'yowdrvtype', 'parkind_wave']

# subroutines with custom block lists
[routines.outblock]
  role = "kernel"
  block = ['mwp1', 'mwp2', 'parkind_wave', 'yowdrvtype' ,'local_mod',
    'cimsstrn', 'wdirspread', 'sebtmean', 'se10mean', 'ctcor', 'w_maxh',
    'weflux', 'meansqs', 'ibrmemout'
  ]

# add inline function calls here to force the plan to add them
[routines.chnkmin]
[routines.ns_gc]
[routines.stress_gc]
[routines.transf_snl]
[routines.transf]
[routines.aki_ice]
[routines.aki]
[routines.transf_r]
[routines.transf_bfi]

# we add loki inlined routines here to force them to be created
[routines.peakfri]
[routines.scosfl]
[routines.femeanws]
[routines.frcutindex]
[routines.omegagc]
[routines.tau_phi_hf]
[routines.stresso]
[routines.wsigstar]
[routines.sinput]
[routines.sinput_ard]
[routines.taut_z0]
[routines.airsea]
[routines.femean]
[routines.wnfluxes]
[routines.sdiwbk]
[routines.sbottom]
[routines.fkmean]
[routines.imphftail]
[routines.setice]
[routines.stokestrn]
[routines.stokesdrift]
[routines.semean]
[routines.sdepthlim]
[routines.sinflx]
[routines.sdissip_ard]
[routines.sdissip]
[routines.peak_ang]
[routines.halphap]
[routines.meansqs_lf]
[routines.sdice]
[routines.sdice1]
[routines.sdice2]
[routines.sdice3]
[routines.icebreak_modify_attenuation]

# Disable replication for modules containing global variables
[routines.yowaltas]
  expand = false
  replicate = false
[routines.yowcoup]
  expand = false
  replicate = false
[routines.yowcout]
  expand = false
  replicate = false
[routines.yowfred]
  expand = false
  replicate = false
[routines.yowice]
  expand = false
  replicate = false
[routines.yowindn]
  expand = false
  replicate = false
[routines.yowparam]
  expand = false
  replicate = false
[routines.yowpcons]
  expand = false
  replicate = false
[routines.yowphys]
  expand = false
  replicate = false
[routines.yowstat]
  expand = false
  replicate = false
[routines.yowtabl]
  expand = false
  replicate = false
[routines.yowwind]
  expand = false
  replicate = false
[routines.yowwndg]
  expand = false
  replicate = false
[routines.yowshal]
  expand = false
  replicate = false
[routines.yowcurr]
  expand = false
  replicate = false
[routines.yowmap]
  expand = false
  replicate = false

# Define indices and bounds for array dimensions
[dimensions.horizontal]
  size = "KIJL"
  index = "IJ"
  bounds = ["KIJS", "KIJL"]
  aliases = ["NPROMA_WAM"]

[dimensions.block_dim]
  size = "NCHNK"
  index = "ICHNK"
